.dropContent {
    display: flex;
    justify-content: space-between;
}
.dropContent p {
    font-size: 20px;
    margin:0;
    /* margin-top: 15px; */
}
.DropHeaders{
    font-size: 17px;
    margin:0;
    margin-top: 35px;
    font-weight: bold;
}
svg.DropIcon {
    margin-top: 35px;
    margin-bottom: 10px;
}
