body{
    margin: 0%;
    padding: 0%;
}
.RepHeader{
    background-color: #fdca31;;
    padding: 8px;
    font-weight: bold;
    font-size: 20px;
    position: fixed;
    width: 100%;
    top:0;
    text-align: left;
}
.RepContent{
    width: 96%;
    margin: 8px 0px 0px 0px;
}
.RepContentContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 100px;
    margin-top: 210px;
}

.ReportCountContainerSecond{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid white;
    background-color: white;
    position: fixed;
    width: 100%;
    top:165px;
}

.SampleButtonClass{
    display: flex;
    justify-content: end;
    border-bottom: 2px solid white;
    position: fixed;
    width: 100%;
    top: 140px;;
}
.ReportCountContentSecond{
    font-weight: bolder;
    font-size: 14px;
    margin: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 660px) {
    .ReportCountContentSecond{
        font-weight: bold;
        font-size: 14px;
        margin: 10px;
        padding-left: 5px;
        padding-right: 5px;

    }
    .ReportCountContainerSecond{
        top:94px;
    }
}