body{
    margin: 0%;
    padding: 0%;
}
.taskBarContainer {
    background-color: black;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    bottom: 0px;
    padding: 10px;
}

.taskIcons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.taskIcons a, .faIcon{
    color: white;
    display: flex;
    text-decoration: unset;
}
/* add active class for faIcon */
.faIcon.active{
    color: #fdca31;
}
.faIcon{
    padding-top: 10px;
    font-size: 22px;
    padding-bottom: 8px;
}
.taskIconContainer {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 530px) {
    .taskIconContainer {
        width: 80%;
    }
    
  }